body {
    background-color: black;
}
.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}
#game-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid gray;
    z-index: 2;
    background-color: transparent;
}

#bg-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid gray;
    z-index: 0;
    background-image: url(../images/logo.png);
    background-size: 100% 100%;

}
#static-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid gray;
    z-index: 1;
    background-color: transparent;
}

.hidden {
    display: none;
}