body {
    background-color: black;
    font-family: 'Noto Sans KR', sans-serif;
    /* overflow: hidden; */
    height: 1000;
    width: 1425;
}

.start-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
}
#game-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid gray;
    z-index: 2;
    background-color: transparent;
}



#bg-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid gray;
    z-index: 0;
    background-image: url(../images/logo.png);
    background-size: 100% 100%;

}
#static-canvas {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border: 1px solid gray;
    z-index: 1;
    background-color: transparent;
}

#song {
    z-index: 4;
    position: absolute;
    border-radius: 2px;
    color: green;
   
}

.hidden {
    display: none;
}

.start-game-container {
    position: absolute;
    z-index: -2;
    left: 25%;
    top: 25%;
    bottom: 25%;
    right: 25%;
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.start-game-head{
    text-align: center;
    color: white;
    font-size: 22px;
}
.controls-head {
    text-align: center;
    color: white;
    font-size: 20px;
}
.controls-container {
    position: relative;
    left: 32%;
    bottom: 10px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px white;
}
.controls-list-item {
    list-style: none;
    padding-bottom: 15px;
}
.fas {
    color: green;
    padding-right: 15px;
}
#stop {
    color: red;
}
#control {
    display: inline;
}

.start-btn {
    display: block;
    margin-left: -30px;
    margin-top: 16%;
    border: none;
    background-color: rgb(69, 236, 18);
    font-weight: bolder;
    padding: 10px;
    box-shadow: 2px 2px 2px green;
    cursor: pointer;
}


#end-game-container {
   position: absolute;
    z-index: 5;
    left: 25%;
    top: 25%;
    bottom: 25%;
    right: 25%;
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}

.hidden {
    display: none;
}